#pragma code_page(65001)
#include <windows.h>
1 ICON "../MapleDay/Assets/Branding/mapleday.ico"
1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041204b0"
        BEGIN
            VALUE "CompanyName", "MapleYoil\0"
            VALUE "FileDescription", "메요일 · MapleDay\0"
            VALUE "InternalName", "MapleDay\0"
            VALUE "OriginalFilename", "MapleDay.exe\0"
            VALUE "ProductName", "메요일 · MapleDay\0"
            VALUE "ProductVersion", "1.0.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x412, 1200
    END
END
